@model EditQueryViewModel

<div class="form-group">
    <button role="button save" type="submit" class="publish-button btn btn-success">@T["Save"]</button>

    <a role="button cancel" class="btn btn-secondary"
       asp-route-action="Index"
       asp-route-controller="Admin"
       asp-route-area="OrchardCore.Queries">@T["Cancel"]</a>
</div>
